# Local environment files
.vscode/
*.envs/
*.env

# Ignoring the build files for latex
report/*.aux
report/*.log
report/*.out
report/*.gz

*__pycache__/

# Ignore the downloaded csv files in src/data
src/data/[0-9]*.csv
# Ignore the Destatis xlsx files
src/data/46241*.xlsx